{% extends "policies/_policy_base.html" %}

{% set title = "Privacy Policy" %}
{% set updated_on = "Jan 3, 2026" %}

{% block policy_content %}

<section class="space-y-4">
    <h2 class="text-xl font-semibold text-white">Our Commitment</h2>
    <ul class="list-disc list-inside space-y-2">
        <li>SNIIPE Clothing values your privacy and is committed to protecting your personal data.</li>
        <li>SNIIPE values your privacy and keeps your personal details secure.</li>
        <li>We only use your information to process orders and improve your experience.</li>
        <li>Your data is never shared with anyone except trusted delivery/payment partners.</li>
        <li>For any concerns, contact us at sniipe.in@gmail.com</li>
    </ul>
</section>
{% endblock %}