

<!-- THIS IS TO BE DISPLAYED ON LANDING PAGE REACHED TO TELL THE USER THAT THEY ARE AT WRONG PLACE, 
 THIS URL IS FOR API CALLS, AND SHOW A BUTTON TO REDIRECT O ACTUAL URL OF CLOTHING STORE -->

<div class="container text-center mt-5">
    <h1 class="display-4">RESTRICTED</h1>
    <h1 class="display-4">SNIIPE Clothing API</h1>
    <p class="lead">This is the backend API for SNIIPE Clothing. If you're seeing this, you've reached the wrong place.</p>
    <p>Please visit our <a href="https://sniipe.in" class="btn btn-primary">SNIIPE Clothing Store</a> to explore our products!</p>
</div>

